@import '../helpers/variables';
.time-container {
    font-family: $font-family-title;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.question-container {
    font-size: 2.5rem;
    font-family: $font-family-base;
    text-align: center;
    background: $light-grey;
    border-radius: 5px;
}

.quiz-title {
    color: $white;
    font-family: $font-family-title;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid $light-grey;
}

.question-title {
    color: $white;
    background: #444;
    padding: 5px 0;
    box-shadow: 0 2px 4px #777;
}

.answer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.answer {
    width: 40%;
    background: $pink;
    color: $white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 0;
    font-family: $font-family-title;
    text-shadow: 2px 2px #222;
    box-shadow: 2px 3px 5px #777;
    cursor: pointer;
    &:hover {
        background: lighten($pink, 10%);
        color: $white;
    }
    @media (max-width: 500px) {
        width: 95%;
    }
}

.quiz-message {
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: $font-family-title;
}

.correct {
    color: #044e08;
}

.incorrect {
    color: #cf0505;
}

//Animations

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s;
}

.list-enter,
.list-leave-to {
    opacity: 0;
}