@import '../helpers/variables';
.welcome-container {
    width: 100%;
    display: flex;
}

.welcome-heading-container {
    width: 70%;
    margin: 120px auto;
    h4 {
        margin-top: -10px;
        font-size: 4rem;
    }
    >div {
        display: flex;
    }
    button {
        font-family: $font-family-title;
        font-size: 2.2rem;
        font-weight: 700;
        padding: 15px 20px;
        margin: 30px 10px;
        text-transform: uppercase;
    }
    @media (max-width: 900px) {
        h1 {
            font-size: 6rem;
        }
        h4 {
            font-size: 3rem;
        }
        button {
            font-size: 1.8rem;
            padding: 10px 15px;
            margin: 20px 5px;
        }
    }
    @media (max-width: 400px) {
        width: auto;
        h1 {
            font-size: 5rem;
        }
        h4 {
            font-size: 2.6rem;
        }
        button {
            font-size: 1.6rem;
            padding: 8px 12px;
            margin: 20px 5px;
        }
    }
}

// ,
// url('../img/class.jpg');
.home-bg {
    background: linear-gradient(53deg, transparent 70%, $light-blue 70%), linear-gradient(120deg, transparent 60%, $pink 60%), linear-gradient(45deg, #0f292f 15%, #113036 15%, #113036 22%, #0f292f 22%, #0f292f 50%, #113036 50%, #113036 70%, #0f292f 70%, #0f292f 90%, #113036 90%);
    background-size: cover;
    height: 610px;
}