@import '../helpers/variables';
.overlay {
    position: fixed;
    top: 0;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.modal-wrap {
    display: flex;
    justify-content: center;
}

.modal-container {
    font-family: $font-family-title;
    width: 100%;
    max-width: 300px;
    height: 200px;
    color: $white;
    background: $dark-blue;
    border: 3px solid $light-blue;
    border-radius: 5px;
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 100px;
    @media (max-width: 400px) {}
    button {
        font-family: $font-family-base;
    }
}

.modal-score {
    font-size: 80px;
    margin-top: -10px;
}