@import 'variables';

.computing {
    background: #cf0505;
}

.english {
    background: #c95507;
}

.english {
    background: #c95507;
}

.geography {
    background: #d4c007;
}

.history {
    background: #044e08;
}

.maths {
    background: #038080;
}

.music {
    background: #010179;
}

.science {
    background: #440244;
}

.technology {
    background: #da0758;
}