// Colours
$dark-blue: #0f292f;
$white: #fefcfb;
$dark-purple: #501f3a;
$pink: #cb2d6f;
$light-blue: #14a098;
$light-grey: #cccccc;
$font-black: #222;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-base: "Roboto", sans-serif;
$font-size-base: 14px;
$font-family-title: 'Raleway', sans-serif;

