@import '../helpers/variables';
body {
    background: $dark-blue;
    color: $white;
    font-family: $font-family-base;
}

.row {
    justify-content: center;
    
}

.col-md-8 {
    float: none;
    margin: 80px auto 0;
}

.col-md-8.col-md-offset-4 {
    @media (min-width: 992px) {
        margin: 0 0 0 33.3333333%;
    }
}